<section class="hero is-medium is-success is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Password
      </h1>
      <form class="field" [formGroup]="form">
        <div class="control">
          <input formControlName="password" class="input is-danger" type="text" placeholder="Password">
        </div><p></p>
        <br>
        <button (click)="submit()" class="button is-danger">Submit</button>
    </form>
    </div>
  </div>
</section>

<div class="columns" style="padding: 2em;">
  <div class="column">
    <button routerLink="/feedback" class="button is-warning is-fullwidth">Feedbacks</button>
  </div>
  <div class="column">
    <button routerLink="/stories" class="button is-warning is-fullwidth">Stories</button>
  </div>
  <div class="column">
    <button routerLink="/addStories" class="button is-warning is-fullwidth">Add Stories</button>
  </div>
</div>
